<p>home works!</p>
<img [src]="picurl" alt="收藏" />
<hr />

<ul>
    <li *ngFor="let item of list; let i=index" >
        <div *ngIf="i==2" class = "color">
        {{i}} --- {{item.title}}
    </div>
    <div *ngIf="i!=2">
        {{i}} --- {{item.title}}
    </div>
    </li>
</ul>


<hr />
<span [ngSwitch]="status">
<p *ngSwitchCase="1">
    已经支付
</p>
<p *ngSwitchCase="2">
   确认订单
</p>
<p *ngSwitchCase="3">
    已经发货
 </p>
 <p *ngSwitchCase="4">
    已经收货
 </p>
<p *ngSwitchDefault>
    订单无效
</p>
</span>
